In [1]:
import numpy as np # librería para manejar datos vectorizados

import pandas as pd # librería para análisis de datos
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.colors as colors
import matplotlib as mpl
import json # librería para manejar archivos JSON 

from pandas.io.json import json_normalize # librería para convertir un archivo json en un dataframe pandas


print('Librerias importadas.')

Librerias importadas.

### Funciones

Cargas **Github DataSet** de datos transaccionales

In [2]:
#Carga de data transaccional
def fn_data_df_transacciones():
    try:
        url_df_data_tarjeta='https://github.com/i3nriq/VIU_MineriadeDatos/blob/f0bc3c6aedda3082e55a6cd74336e9002a4cb591/Data/DS_Data_TJT.csv?raw=true'
        import_df_data_tarjeta = pd.read_csv(url_df_data_tarjeta, encoding='latin-1')
        print('Carga via Github..')
    except:
        print('Datos no cargados..')
        import_df_data_tarjeta= None
    return(import_df_data_tarjeta)

Analisis de DataFrame

In [3]:
def fn_descripcion_dataFrame(i_df_desc):
    print("Dimensiones dataframe: ",i_df_desc.shape)
    print("")
    print(i_df_desc.dtypes)

In [4]:
df_data_tarjeta=fn_data_df_transacciones()

Carga via Github..

In [5]:
fn_descripcion_dataFrame(df_data_tarjeta)
df_data_tarjeta.head()

Dimensiones dataframe:  (100000, 12)

C_RN                         int64
CL_RN                        int64
LIM_CREDITO                float64
FEC_COSECHA                 object
ESTADO_CIVIL                object
METAL_TJT                   object
FECHA_NACIMIENTO            object
PAGO_CONTADO                object
DETALLE_MOVIMIENTO_VISA     object
TIPO_RUBRO                   int64
FECHA_REAL_MOV              object
COD_MORA                     int64
dtype: object

,C_RN,CL_RN,LIM_CREDITO,FEC_COSECHA,ESTADO_CIVIL,METAL_TJT,FECHA_NACIMIENTO,PAGO_CONTADO,DETALLE_MOVIMIENTO_VISA,TIPO_RUBRO,FECHA_REAL_MOV,COD_MORA
0,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,9175611342IRISH RAIL CORK BOOKI -MTRX:[10.91]...,4789,30/4/2022 04:51,0
1,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,9175616026TITANIC EXPERIENCE COBH -MTRX:[4.31]...,7991,30/4/2022 07:14,0
2,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,9175628866MCDONALDS 7007 -MTRX:[4.80]-FDTRX[84...,5814,30/4/2022 09:35,0
3,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,9175631041MCDONALDS 7007 -MTRX:[2.95]-FDTRX[84...,5814,30/4/2022 09:51,0
4,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,9175608233MCDONALDS7017 -MTRX:[7.10]-FDTRX[840...,5814,30/4/2022 00:29,0

Convertir tipos de datos (posterior)

In [6]:
df_data_tarjeta['DETALLE_MOVIMIENTO_VISA'] = df_data_tarjeta['DETALLE_MOVIMIENTO_VISA'].str.replace('[', '>>')
df_data_tarjeta['DETALLE_MOVIMIENTO_VISA'] = df_data_tarjeta['DETALLE_MOVIMIENTO_VISA'].str.replace(']', '<<')

pattern = '|'.join(['THTRX>>','<<-THTR','<<-FDTRX','MTRX:>>','FDTRX>>', '<<'])

df_data_tarjeta['MONTO_TRX']=df_data_tarjeta['DETALLE_MOVIMIENTO_VISA'].str.extract(r'(?P<DETALLE_MOVIMIENTO_VISA>MTRX:>>.*.<<-FDTRX)')#.replace("RAIL","", inplace=True)
df_data_tarjeta['MONEDA_TRX']=df_data_tarjeta['DETALLE_MOVIMIENTO_VISA'].str.extract(r'(?P<DETALLE_MOVIMIENTO_VISA>FDTRX>>.*.<<-THTR)')#.replace("RAIL","", inplace=True)
df_data_tarjeta['TASA_TRX']=df_data_tarjeta['DETALLE_MOVIMIENTO_VISA'].str.extract(r'(?P<DETALLE_MOVIMIENTO_VISA>THTRX>>.*.<<)')

del df_data_tarjeta['DETALLE_MOVIMIENTO_VISA']

df_data_tarjeta['MONTO_TRX']=df_data_tarjeta['MONTO_TRX'].str.replace(pattern, '')
df_data_tarjeta['MONEDA_TRX']=df_data_tarjeta['MONEDA_TRX'].str.replace(pattern, '')
df_data_tarjeta['TASA_TRX']=df_data_tarjeta['TASA_TRX'].str.replace(pattern, '')

<ipython-input-6-7421ba33ef68>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_data_tarjeta['DETALLE_MOVIMIENTO_VISA'] = df_data_tarjeta['DETALLE_MOVIMIENTO_VISA'].str.replace('[', '>>')
<ipython-input-6-7421ba33ef68>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_data_tarjeta['DETALLE_MOVIMIENTO_VISA'] = df_data_tarjeta['DETALLE_MOVIMIENTO_VISA'].str.replace(']', '<<')
<ipython-input-6-7421ba33ef68>:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df_data_tarjeta['MONTO_TRX']=df_data_tarjeta['MONTO_TRX'].str.replace(pattern, '')
<ipython-input-6-7421ba33ef68>:13: FutureWarning: The default value of regex will change from True to False in a future version.
  df_data_tarjeta['MONEDA_TRX']=df_data_tarjeta['MONEDA_TRX'].str.replace(pattern, '')
<ipython-input-6-7421ba33ef68>:14: FutureWarning: The default value of regex will change from True to False in a future version.
  df_data_tarjeta['TASA_TRX']=df_data_tarjeta['TASA_TRX'].str.replace(pattern, '')

In [7]:
df_data_tarjeta[df_data_tarjeta['C_RN']==4285].head()

,C_RN,CL_RN,LIM_CREDITO,FEC_COSECHA,ESTADO_CIVIL,METAL_TJT,FECHA_NACIMIENTO,PAGO_CONTADO,TIPO_RUBRO,FECHA_REAL_MOV,COD_MORA,MONTO_TRX,MONEDA_TRX,TASA_TRX
1326,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5541,13/5/2022 21:14,0,567.76,320,7.66517
1327,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,3001,29/4/2022 20:39,0,33.32,840,7.66517
1328,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,3001,29/4/2022 00:00,0,NaN,NaN,NaN
1329,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,3001,29/4/2022 00:00,0,NaN,NaN,NaN
1330,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,3001,29/4/2022 20:31,0,177.57,840,7.66517

In [9]:
fn_descripcion_dataFrame(df_data_tarjeta)
df_data_tarjeta.head()

Dimensiones dataframe:  (100000, 14)

C_RN                  int64
CL_RN                 int64
LIM_CREDITO         float64
FEC_COSECHA          object
ESTADO_CIVIL         object
METAL_TJT            object
FECHA_NACIMIENTO     object
PAGO_CONTADO         object
TIPO_RUBRO            int64
FECHA_REAL_MOV       object
COD_MORA              int64
MONTO_TRX            object
MONEDA_TRX           object
TASA_TRX             object
dtype: object

,C_RN,CL_RN,LIM_CREDITO,FEC_COSECHA,ESTADO_CIVIL,METAL_TJT,FECHA_NACIMIENTO,PAGO_CONTADO,TIPO_RUBRO,FECHA_REAL_MOV,COD_MORA,MONTO_TRX,MONEDA_TRX,TASA_TRX
0,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,4789,30/4/2022 04:51,0,10.91,840,7.66517
1,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,7991,30/4/2022 07:14,0,4.31,840,7.66517
2,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,5814,30/4/2022 09:35,0,4.80,840,7.66517
3,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,5814,30/4/2022 09:51,0,2.95,840,7.66517
4,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,5814,30/4/2022 00:29,0,7.10,840,7.66517

### Eliminar columnas

Datos transaccionales

In [10]:
df_data_tarjeta = df_data_tarjeta[df_data_tarjeta['MONTO_TRX'].notna()]
df_data_tarjeta = df_data_tarjeta[df_data_tarjeta['MONEDA_TRX'].notna()]
df_data_tarjeta = df_data_tarjeta[df_data_tarjeta['TASA_TRX'].notna()]

Identificadores criticos

In [11]:
#Numero de cuenta
df_data_tarjeta = df_data_tarjeta[df_data_tarjeta['C_RN'].notna()]

#Codigo de cliente
df_data_tarjeta = df_data_tarjeta[df_data_tarjeta['CL_RN'].notna()]

In [12]:
df_data_tarjeta[df_data_tarjeta['C_RN']==4285].head(1000)

,C_RN,CL_RN,LIM_CREDITO,FEC_COSECHA,ESTADO_CIVIL,METAL_TJT,FECHA_NACIMIENTO,PAGO_CONTADO,TIPO_RUBRO,FECHA_REAL_MOV,COD_MORA,MONTO_TRX,MONEDA_TRX,TASA_TRX
1326,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5541,13/5/2022 21:14,0,567.76,320,7.66517
1327,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,3001,29/4/2022 20:39,0,33.32,840,7.66517
1330,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,3001,29/4/2022 20:31,0,177.57,840,7.66517
1331,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5300,29/4/2022 19:01,0,8758.20,320,7.66517
1332,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,30/4/2022 10:07,0,22.00,320,7.66517
1333,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,30/4/2022 07:15,0,60.00,320,7.66517
1338,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,1/5/2022 18:19,0,8.00,840,7.66517
1339,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,1/5/2022 21:11,0,11.91,840,7.66517
1340,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,1/5/2022 22:24,0,11.98,840,7.66517
1341,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,1/5/2022 20:20,0,29.22,840,7.66517
1342,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5541,1/5/2022 17:02,0,662.41,320,7.66517
1343,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5912,30/4/2022 21:11,0,1008.19,320,7.66517
1344,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,1/5/2022 15:19,0,55.00,320,7.66517
1345,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,1/5/2022 13:25,0,601.00,320,7.66517
1346,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,30/4/2022 15:45,0,28.00,320,7.66517
1347,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,30/4/2022 19:13,0,110.00,320,7.66517
1348,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,1/5/2022 19:30,0,51.00,320,7.66517
1352,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,2/5/2022 17:06,0,7.26,840,7.66517
1353,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,2/5/2022 11:10,0,7.26,840,7.66517
1354,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,2/5/2022 10:05,0,36.99,840,7.66517
1355,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,3562,2/5/2022 10:47,0,250.00,840,7.66517
1356,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7523,1/5/2022 19:17,0,20.00,320,7.66517
1357,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7338,2/5/2022 12:20,0,9.75,320,7.66517
1358,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,8220,2/5/2022 12:04,0,96.00,320,7.66517
1359,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,2/5/2022 18:30,0,15.54,840,7.66517
1360,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,2/5/2022 13:11,0,88.00,320,7.66517
1367,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,3/5/2022 11:47,0,15.90,840,7.66517
1368,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5411,2/5/2022 20:02,0,99.70,840,7.66517
1369,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,3/5/2022 09:19,0,35.00,320,7.66517
1370,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7338,3/5/2022 09:59,0,17.75,320,7.66517
1371,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,2/5/2022 13:49,0,7.26,840,7.66517
1372,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,2/5/2022 17:42,0,16.99,840,7.66517
1373,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,3/5/2022 08:02,0,12.95,840,7.66517
1374,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,2/5/2022 20:09,0,19.99,840,7.66517
1375,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,2/5/2022 22:00,0,7.26,840,7.66517
1376,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5631,4/5/2022 18:54,0,106.86,840,7.66517
1377,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,4/5/2022 11:44,0,39.20,840,7.66517
1378,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,4/5/2022 21:43,0,32.00,320,7.66517
1379,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5963,3/5/2022 14:11,0,165.00,320,7.66517
1380,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,3/5/2022 18:24,0,90.00,320,7.66517
1381,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,4/5/2022 15:16,0,18.96,840,7.66517
1382,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,3/5/2022 16:53,0,16.81,840,7.66517
1389,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,5/5/2022 11:12,0,11.98,840,7.66517
1390,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5812,3/5/2022 12:49,0,38.95,840,7.66517
1391,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5812,4/5/2022 15:37,0,200.00,320,7.66517
1399,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,5/5/2022 18:02,0,12.98,840,7.66517
1400,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,5/5/2022 12:32,0,17.90,840,7.66517
1401,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,5/5/2022 17:46,0,5.30,840,7.66517
1403,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,3770,6/5/2022 09:39,0,144.58,840,7.66517
1407,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,6/5/2022 21:52,0,20.28,840,7.66517
1408,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,6/5/2022 21:10,0,7.26,840,7.66517
1409,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5812,5/5/2022 17:39,0,76.08,840,7.66517
1410,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5912,6/5/2022 21:46,0,92.33,840,7.66517
1411,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,6/5/2022 14:23,0,29.96,840,7.66517
1412,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,6/5/2022 13:03,0,65.00,320,7.66517
1413,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5251,6/5/2022 13:41,0,124.00,320,7.66517
1417,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,4/5/2022 13:16,0,17.96,840,7.66517
1418,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,4/5/2022 20:07,0,13.96,840,7.66517
1419,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5691,5/5/2022 16:45,0,401.25,840,7.66517
1420,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7538,5/5/2022 15:18,0,75.00,320,7.66517
1421,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,5/5/2022 14:27,0,122.00,320,7.66517
1422,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5999,5/5/2022 14:51,0,386.27,840,7.66517
1423,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,5/5/2022 10:30,0,88.00,320,7.66517
1424,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,6/5/2022 18:18,0,19.35,840,7.66517
1442,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5200,7/5/2022 13:00,0,200.00,320,7.66517
1443,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5963,7/5/2022 15:13,0,20.00,320,7.66517
1444,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,7/5/2022 11:11,0,8.95,840,7.66517
1445,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5963,7/5/2022 15:11,0,26.00,320,7.66517
1446,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,6/5/2022 12:13,0,13.98,840,7.66517
1447,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,8/5/2022 12:19,0,403.70,320,7.66517
1448,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5541,7/5/2022 13:47,0,802.35,320,7.66517
1449,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,8/5/2022 00:01,0,11.71,840,7.66517
1460,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,9/5/2022 11:25,0,26.00,320,7.66517
13854,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7523,9/5/2022 16:28,0,10.00,320,7.66517
13855,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5963,10/5/2022 11:12,0,133.00,320,7.66517
13856,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5541,9/5/2022 09:33,0,200.00,320,7.66517
13857,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5812,9/5/2022 16:09,0,232.10,320,7.66517
13858,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5963,10/5/2022 08:12,0,742.00,320,7.66517
13867,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,10/5/2022 11:58,0,4.66,840,7.66517
13868,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5462,10/5/2022 12:24,0,65.00,320,7.66517
13869,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7523,10/5/2022 10:29,0,15.00,320,7.66517
13870,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5812,10/5/2022 13:25,0,467.00,320,7.66517
13871,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,11/5/2022 15:07,0,72.00,320,7.66517
13872,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5462,11/5/2022 10:06,0,215.00,320,7.66517
13877,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,12/5/2022 10:42,0,48.00,320,7.66517
13878,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7523,11/5/2022 14:58,0,15.00,320,7.66517
13879,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7999,11/5/2022 16:12,0,3975.00,320,7.66517
13880,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,12/5/2022 14:24,0,204.00,320,7.66517
13884,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7230,13/5/2022 11:50,0,240.00,320,7.66517
13885,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,8220,12/5/2022 09:10,0,8293.28,320,7.66517
13886,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,13/5/2022 08:35,0,35.00,320,7.66517
13887,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5411,13/5/2022 17:16,0,573.95,320,7.66517
13888,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,13/5/2022 21:22,0,164.00,320,7.66517
13889,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5311,13/5/2022 19:53,0,368.00,320,7.66517
13890,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5992,13/5/2022 17:38,0,175.00,320,7.66517
13891,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,13/5/2022 14:51,0,53.00,320,7.66517
13892,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7523,13/5/2022 17:29,0,10.00,320,7.66517
13893,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5200,13/5/2022 16:32,0,1733.72,320,7.66517
13894,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5411,13/5/2022 18:10,0,28.00,320,7.66517
68530,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,6513,13/5/2022 20:03,0,10.00,320,7.66517

### Convertir Tipos de datos

In [13]:
#Fechas
df_data_tarjeta = df_data_tarjeta.astype({"FECHA_REAL_MOV":"datetime64[ns]","FECHA_NACIMIENTO":"datetime64[ns]","FEC_COSECHA":"datetime64[ns]"})

#Daatos Transaccionales
df_data_tarjeta = df_data_tarjeta.astype({"MONTO_TRX":"float64","MONEDA_TRX":"int64","TASA_TRX":"float64"})

In [18]:
fn_descripcion_dataFrame(df_data_tarjeta)
df_data_tarjeta.head()

Dimensiones dataframe:  (99837, 15)

C_RN                         int64
CL_RN                        int64
LIM_CREDITO                float64
FEC_COSECHA         datetime64[ns]
ESTADO_CIVIL                object
METAL_TJT                   object
FECHA_NACIMIENTO    datetime64[ns]
PAGO_CONTADO                object
TIPO_RUBRO                   int64
FECHA_REAL_MOV      datetime64[ns]
COD_MORA                     int64
MONTO_TRX                  float64
MONEDA_TRX                   int64
TASA_TRX                   float64
Edad                       float64
dtype: object

,C_RN,CL_RN,LIM_CREDITO,FEC_COSECHA,ESTADO_CIVIL,METAL_TJT,FECHA_NACIMIENTO,PAGO_CONTADO,TIPO_RUBRO,FECHA_REAL_MOV,COD_MORA,MONTO_TRX,MONEDA_TRX,TASA_TRX,Edad
0,8521,10578,16496.0,2020-11-26,S,PLATINUM,1990-05-21,S,4789,2022-04-30 04:51:00,0,10.91,840,7.66517,32.0
1,8521,10578,16496.0,2020-11-26,S,PLATINUM,1990-05-21,S,7991,2022-04-30 07:14:00,0,4.31,840,7.66517,32.0
2,8521,10578,16496.0,2020-11-26,S,PLATINUM,1990-05-21,S,5814,2022-04-30 09:35:00,0,4.80,840,7.66517,32.0
3,8521,10578,16496.0,2020-11-26,S,PLATINUM,1990-05-21,S,5814,2022-04-30 09:51:00,0,2.95,840,7.66517,32.0
4,8521,10578,16496.0,2020-11-26,S,PLATINUM,1990-05-21,S,5814,2022-04-30 00:29:00,0,7.10,840,7.66517,32.0

## TRANSFORMAR

Edad

In [15]:
now = pd.Timestamp('now')
df_data_tarjeta['Edad']=(now-df_data_tarjeta['FECHA_NACIMIENTO']).astype('<m8[Y]')

Estado Civil

In [16]:
#Simplificar Casados y Unidos = Casad@ de lo contrario Solter@
df_data_tarjeta["ESTADO_CIVIL"] = np.where(((df_data_tarjeta["ESTADO_CIVIL"] =='U')|(df_data_tarjeta["ESTADO_CIVIL"] =='C')), 'C', 'S')

In [17]:
df_data_tarjeta['ESTADO_CIVIL'].unique()

array(['S', 'C'], dtype=object)

## Reconstruccion

#### Fecha

In [8]:
df_data_tarjeta['FECHA_NACIMIENTO'].isnull().values.any()

True